<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.skripsi.semmi.restget3" >
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="22" />
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="22" />

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/LoginLabel"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyCGcu0sIOQfyp4MTAzdgk4x0v--8sGsuEE"/>
        <uses-feature
            android:glEsVersion="0x00020000"
            android:required="true"/>
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity android:name=".activity.SplashScreen"
            android:label="Alumni Space"
            android:theme="@style/SplashScreen"
            android:clearTaskOnLaunch="true"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".MainActivity"
            android:theme="@style/AppTheme"
            android:clearTaskOnLaunch="true"
            android:finishOnCloseSystemDialogs="true"
            android:finishOnTaskLaunch="true">
        </activity>
        <activity android:name=".activity.RegisterActivity"
            android:theme="@style/RegisterTheme"
            android:parentActivityName=".MainActivity"
            android:label="@string/regisPage">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity android:name=".activity.ForgotPassActivity"
            android:theme="@style/RegisterTheme"
            android:parentActivityName=".MainActivity"
            android:label="@string/forgotpass">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>

        <activity android:name=".activity.home_activity"
            android:label="@string/homePage"
            android:theme="@style/HomeTheme"
            android:clearTaskOnLaunch="true"
            android:finishOnCloseSystemDialogs="true"
            android:finishOnTaskLaunch="true"/>
        <activity android:name=".activity.AroundMeActivity"
            android:label="@string/aroundme"
            android:theme="@style/AppTheme"/>


        <activity android:name=".activity.ProfileActivity"
            android:theme="@style/RegisterTheme"
            android:parentActivityName=".MainActivity"
            android:label="@string/profile"
            >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>

        <activity android:name=".activity.UploadImageActivity"
            android:label="Change Profile Picture"
            android:theme="@style/AppTheme"/>

        <activity android:name=".activity.CareerActivity"
            android:label="Career List"
            android:theme="@style/AppTheme"/>
        <activity android:name=".activity.CareerDetailActivity"
            android:label="Career"
            android:theme="@style/AppTheme"/>
        <activity android:name=".activity.AddNewCareerActivity"
            android:label="Add New Career"
            android:theme="@style/AppTheme"/>
        <activity android:name=".activity.AllUserActivity"
            android:label="All User"
            android:theme="@style/AppTheme"/>

        <activity android:name=".activity.AllUserProfile"
            android:label="User Profile"
            android:theme="@style/AppTheme"/>
        <activity android:name=".activity.MessageActivity"
            android:label="MEssage"
            android:theme="@style/AppTheme"/>

        <activity android:name=".activity.AllProductActivity"
            android:label="MEssage"
            android:theme="@style/GoogleCard"/>
    </application>

</manifest>
